<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleName</key>
		<string>CAShapeLayer Demo</string>
		<key>controllerName</key>
		<string>XCShapeViewController</string>
	</dict>
	<dict>
		<key>titleName</key>
		<string>CATextLayer Demo</string>
		<key>controllerName</key>
		<string>XCTextLayerViewController</string>
	</dict>
	<dict>
		<key>titleName</key>
		<string>CATransformLayer Demo</string>
		<key>controllerName</key>
		<string>XCTransformLayerViewController</string>
	</dict>
	<dict>
		<key>titleName</key>
		<string>GradientLayer Demo</string>
		<key>controllerName</key>
		<string>XCGradientLayerViewController</string>
	</dict>
	<dict>
		<key>titleName</key>
		<string>ReplicatorLayer Demo</string>
		<key>controllerName</key>
		<string>XCReplicatorLayerViewController</string>
	</dict>
</array>
</plist>
