<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>品牌列表案例</title>
    <script src="vue2610.js"></script>
    <style>
        #tb{
            width: 800px;
            border-collapse: collapse;
            margin: 20px auto;
        }
        #tb th{
            background-color: #0094ff;
            color: white;
            font-size: 16px;
            padding: 5px;
            text-align: center;
            border: 1px solid black;
        }
        #tb td{
            font-size: 16px;
            padding: 5px;
            text-align: center;
            border: 1px solid black;
        }
    </style>
</head>

<body>
<div id="app">
    <table id="tb">
        <tr>
        <th>编号</th>
        <th>名称</th>
        <th>创建时间</th>
        <th>操作</th>
        </tr>
        <td colspan="4" v-if="list.length == 0">
            当前列表暂无数据
        </td>
        <tr v-for="item in list">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.ctime}}</td>
            <td>
                <a href="#" v-on:click="test">删除</a>
            </td>
        </tr>
    </table>
</div>
</body>


<script>
    let vm = new Vue({
        el:'#app',
        data:{
            list:[{id:1,name:'奔驰',ctime:new Date}]
        },
        methods:{
            test:function () {

            }
        }
    });
</script>
</html>